*

!/.gitignore
!/LICENSE
!/README.md

!/Cargo.toml
!/Cargo.lock
!/rustfmt.toml

!/src/
!/src/main.rs
!/src/cli.rs
!/src/command.rs
!/src/dir.rs
!/src/filesystem.rs
!/src/manifest.rs
!/src/model.rs
!/src/result.rs
!/src/run.rs
!/src/source.rs

!/src/build.rs
!/src/build/
!/src/build/finalize.rs
!/src/build/normalize.rs
!/src/build/prepare.rs
!/src/build/process.rs
